/* Flexible Grid System 5.2.0 | BEM CSS | MIT License | flexible.gs */

.wrap {
  display: block;
  width: 100%;
  font-size: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap--flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.wrap__col {
  display: inline-block;
  width: 100%;
  min-height: 1px;
  font-size: 1rem;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* xl */

  .wrap--xl-table {
    display: table;
    table-layout: fixed;
  }
  .wrap--xl-table > * {
    display: table-cell;
  }
  .wrap--xl-not-table {
    display: block;
    table-layout: auto;
  }
  .wrap--xl-not-table > * {
    display: inline-block;
  }
  .wrap--xl-auto > * {
    width: auto;
  }
  .wrap--xl-1 > * {
    width: 100%;
  }
  .wrap--xl-2 > * {
    width: 50%;
  }
  .wrap--xl-3 > * {
    width: 33.333333333333336%;
  }
  .wrap--xl-4 > * {
    width: 25%;
  }
  .wrap--xl-5 > * {
    width: 20%;
  }
  .wrap--xl-6 > * {
    width: 16.666666666666668%;
  }
  .wrap--xl-7 > * {
    width: 14.285714285714286%;
  }
  .wrap--xl-8 > * {
    width: 12.5%;
  }
  .wrap--xl-9 > * {
    width: 11.11111111111111%;
  }
  .wrap--xl-10 > * {
    width: 10%;
  }
  .wrap--xl-11 > * {
    width: 9.090909090909092%;
  }
  .wrap--xl-12 > * {
    width: 8.333333333333334%;
  }
  .wrap__col--xl-1-1 {
    width: 100%;
  }
  .wrap__col--xl-1-2,
  .wrap__col--xl-2-4,
  .wrap__col--xl-3-6,
  .wrap__col--xl-4-8,
  .wrap__col--xl-5-10,
  .wrap__col--xl-6-12 {
    width: 50%;
  }
  .wrap__col--xl-1-3,
  .wrap__col--xl-2-6,
  .wrap__col--xl-4-12 {
    width: 33.333333333333336%;
  }
  .wrap__col--xl-2-3,
  .wrap__col--xl-4-6,
  .wrap__col--xl-8-12 {
    width: 66.66666666666667%;
  }
  .wrap__col--xl-1-4,
  .wrap__col--xl-2-8,
  .wrap__col--xl-3-12 {
    width: 25%;
  }
  .wrap__col--xl-3-4,
  .wrap__col--xl-6-8,
  .wrap__col--xl-9-12 {
    width: 75%;
  }
  .wrap__col--xl-1-5,
  .wrap__col--xl-2-10 {
    width: 20%;
  }
  .wrap__col--xl-2-5,
  .wrap__col--xl-4-10 {
    width: 40%;
  }
  .wrap__col--xl-3-5,
  .wrap__col--xl-6-10 {
    width: 60%;
  }
  .wrap__col--xl-4-5,
  .wrap__col--xl-8-10 {
    width: 80%;
  }
  .wrap__col--xl-1-6,
  .wrap__col--xl-2-12 {
    width: 16.666666666666668%;
  }
  .wrap__col--xl-5-6,
  .wrap__col--xl-10-12 {
    width: 83.33333333333334%;
  }
  .wrap__col--xl-1-7 {
    width: 14.285714285714286%;
  }
  .wrap__col--xl-2-7 {
    width: 28.571428571428573%;
  }
  .wrap__col--xl-3-7 {
    width: 42.85714285714286%;
  }
  .wrap__col--xl-4-7 {
    width: 57.142857142857146%;
  }
  .wrap__col--xl-5-7 {
    width: 71.42857142857143%;
  }
  .wrap__col--xl-6-7 {
    width: 85.71428571428572%;
  }
  .wrap__col--xl-1-8 {
    width: 12.5%;
  }
  .wrap__col--xl-3-8 {
    width: 37.5%;
  }
  .wrap__col--xl-5-8 {
    width: 62.5%;
  }
  .wrap__col--xl-7-8 {
    width: 87.5%;
  }
  .wrap__col--xl-1-9 {
    width: 11.11111111111111%;
  }
  .wrap__col--xl-2-9 {
    width: 22.22222222222222%;
  }
  .wrap__col--xl-3-9 {
    width: 33.33333333333333%;
  }
  .wrap__col--xl-4-9 {
    width: 44.44444444444444%;
  }
  .wrap__col--xl-5-9 {
    width: 55.55555555555556%;
  }
  .wrap__col--xl-6-9 {
    width: 66.66666666666666%;
  }
  .wrap__col--xl-7-9 {
    width: 77.77777777777777%;
  }
  .wrap__col--xl-8-9 {
    width: 88.88888888888889%;
  }
  .wrap__col--xl-1-10 {
    width: 10%;
  }
  .wrap__col--xl-3-10 {
    width: 30%;
  }
  .wrap__col--xl-7-10 {
    width: 70%;
  }
  .wrap__col--xl-9-10 {
    width: 90%;
  }
  .wrap__col--xl-1-11 {
    width: 9.090909090909092%;
  }
  .wrap__col--xl-2-11 {
    width: 18.181818181818183%;
  }
  .wrap__col--xl-3-11 {
    width: 27.272727272727273%;
  }
  .wrap__col--xl-4-11 {
    width: 36.36363636363637%;
  }
  .wrap__col--xl-5-11 {
    width: 45.45454545454546%;
  }
  .wrap__col--xl-6-11 {
    width: 54.54545454545455%;
  }
  .wrap__col--xl-7-11 {
    width: 63.63636363636364%;
  }
  .wrap__col--xl-8-11 {
    width: 72.72727272727273%;
  }
  .wrap__col--xl-9-11 {
    width: 81.81818181818183%;
  }
  .wrap__col--xl-10-11 {
    width: 90.90909090909092%;
  }
  .wrap__col--xl-1-12 {
    width: 8.333333333333334%;
  }
  .wrap__col--xl-5-12 {
    width: 41.66666666666667%;
  }
  .wrap__col--xl-7-12 {
    width: 58.333333333333336%;
  }
  .wrap__col--xl-11-12 {
    width: 91.66666666666667%;
  }
  .wrap__col--xl-hidden {
    display: none;
  }
  .wrap__col--xl-not-hidden {
    display: inline-block;
  }
  .wrap--xl-gutter-0 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .wrap--xl-gutter-0 > * {
    padding-left: 0;
    padding-right: 0;
  }
  .wrap--xl-gutter-8 {
    width: calc(100% + 8px);
    margin-left: -4px;
    margin-right: -4px;
    padding-left: 0;
    padding-right: 0;
  }
  .wrap--xl-gutter-8 > * {
    padding-left: 4px;
    padding-right: 4px;
  }
  .wrap--xl-outside-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
  .wrap--xl-gutter-16 {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
  }
  .wrap--xl-gutter-16 > * {
    padding-left: 8px;
    padding-right: 8px;
  }
  .wrap--xl-outside-16 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
  .wrap--xl-gutter-24 {
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 0;
    padding-right: 0;
  }
  .wrap--xl-gutter-24 > * {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wrap--xl-outside-24 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
  .wrap--xl-gutter-40 {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
  }
  .wrap--xl-gutter-40 > * {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrap--xl-outside-40 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrap--xl-top {
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .wrap--xl-top > * {
    vertical-align: top;
  }
  .wrap--xl-middle {
    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .wrap--xl-middle > * {
    vertical-align: middle;
  }
  .wrap--xl-bottom {
    -webkit-align-content: flex-end;
    -ms-align-content: flex-end;
    align-content: flex-end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
  .wrap--xl-bottom > * {
    vertical-align: bottom;
  }
  .wrap--xl-between {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
  }
  .wrap--xl-around {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
  }
  .wrap--xl-baseline {
    -webkit-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
  }
  .wrap--xl-center {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .wrap--xl-left {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .wrap--xl-right {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
  .wrap__col--xl-first {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .wrap__col--xl-last {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .wrap__col--xl-not-first, .wrap__col--xl-not-last {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .wrap--xl-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .wrap--xl-not-reverse {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

/* lg */

  @media (max-width: 1024px) {
    .wrap--lg-table {
      display: table;
      table-layout: fixed;
    }
    .wrap--lg-table > * {
      display: table-cell;
    }
    .wrap--lg-not-table {
      display: block;
      table-layout: auto;
    }
    .wrap--lg-not-table > * {
      display: inline-block;
    }
    .wrap--lg-auto > * {
      width: auto;
    }
    .wrap--lg-1 > * {
      width: 100%;
    }
    .wrap--lg-2 > * {
      width: 50%;
    }
    .wrap--lg-3 > * {
      width: 33.333333333333336%;
    }
    .wrap--lg-4 > * {
      width: 25%;
    }
    .wrap--lg-5 > * {
      width: 20%;
    }
    .wrap--lg-6 > * {
      width: 16.666666666666668%;
    }
    .wrap--lg-7 > * {
      width: 14.285714285714286%;
    }
    .wrap--lg-8 > * {
      width: 12.5%;
    }
    .wrap--lg-9 > * {
      width: 11.11111111111111%;
    }
    .wrap--lg-10 > * {
      width: 10%;
    }
    .wrap--lg-11 > * {
      width: 9.090909090909092%;
    }
    .wrap--lg-12 > * {
      width: 8.333333333333334%;
    }
    .wrap__col--lg-1-1 {
      width: 100%;
    }
    .wrap__col--lg-1-2,
    .wrap__col--lg-2-4,
    .wrap__col--lg-3-6,
    .wrap__col--lg-4-8,
    .wrap__col--lg-5-10,
    .wrap__col--lg-6-12 {
      width: 50%;
    }
    .wrap__col--lg-1-3,
    .wrap__col--lg-2-6,
    .wrap__col--lg-4-12 {
      width: 33.333333333333336%;
    }
    .wrap__col--lg-2-3,
    .wrap__col--lg-4-6,
    .wrap__col--lg-8-12 {
      width: 66.66666666666667%;
    }
    .wrap__col--lg-1-4,
    .wrap__col--lg-2-8,
    .wrap__col--lg-3-12 {
      width: 25%;
    }
    .wrap__col--lg-3-4,
    .wrap__col--lg-6-8,
    .wrap__col--lg-9-12 {
      width: 75%;
    }
    .wrap__col--lg-1-5,
    .wrap__col--lg-2-10 {
      width: 20%;
    }
    .wrap__col--lg-2-5,
    .wrap__col--lg-4-10 {
      width: 40%;
    }
    .wrap__col--lg-3-5,
    .wrap__col--lg-6-10 {
      width: 60%;
    }
    .wrap__col--lg-4-5,
    .wrap__col--lg-8-10 {
      width: 80%;
    }
    .wrap__col--lg-1-6,
    .wrap__col--lg-2-12 {
      width: 16.666666666666668%;
    }
    .wrap__col--lg-5-6,
    .wrap__col--lg-10-12 {
      width: 83.33333333333334%;
    }
    .wrap__col--lg-1-7 {
      width: 14.285714285714286%;
    }
    .wrap__col--lg-2-7 {
      width: 28.571428571428573%;
    }
    .wrap__col--lg-3-7 {
      width: 42.85714285714286%;
    }
    .wrap__col--lg-4-7 {
      width: 57.142857142857146%;
    }
    .wrap__col--lg-5-7 {
      width: 71.42857142857143%;
    }
    .wrap__col--lg-6-7 {
      width: 85.71428571428572%;
    }
    .wrap__col--lg-1-8 {
      width: 12.5%;
    }
    .wrap__col--lg-3-8 {
      width: 37.5%;
    }
    .wrap__col--lg-5-8 {
      width: 62.5%;
    }
    .wrap__col--lg-7-8 {
      width: 87.5%;
    }
    .wrap__col--lg-1-9 {
      width: 11.11111111111111%;
    }
    .wrap__col--lg-2-9 {
      width: 22.22222222222222%;
    }
    .wrap__col--lg-3-9 {
      width: 33.33333333333333%;
    }
    .wrap__col--lg-4-9 {
      width: 44.44444444444444%;
    }
    .wrap__col--lg-5-9 {
      width: 55.55555555555556%;
    }
    .wrap__col--lg-6-9 {
      width: 66.66666666666666%;
    }
    .wrap__col--lg-7-9 {
      width: 77.77777777777777%;
    }
    .wrap__col--lg-8-9 {
      width: 88.88888888888889%;
    }
    .wrap__col--lg-1-10 {
      width: 10%;
    }
    .wrap__col--lg-3-10 {
      width: 30%;
    }
    .wrap__col--lg-7-10 {
      width: 70%;
    }
    .wrap__col--lg-9-10 {
      width: 90%;
    }
    .wrap__col--lg-1-11 {
      width: 9.090909090909092%;
    }
    .wrap__col--lg-2-11 {
      width: 18.181818181818183%;
    }
    .wrap__col--lg-3-11 {
      width: 27.272727272727273%;
    }
    .wrap__col--lg-4-11 {
      width: 36.36363636363637%;
    }
    .wrap__col--lg-5-11 {
      width: 45.45454545454546%;
    }
    .wrap__col--lg-6-11 {
      width: 54.54545454545455%;
    }
    .wrap__col--lg-7-11 {
      width: 63.63636363636364%;
    }
    .wrap__col--lg-8-11 {
      width: 72.72727272727273%;
    }
    .wrap__col--lg-9-11 {
      width: 81.81818181818183%;
    }
    .wrap__col--lg-10-11 {
      width: 90.90909090909092%;
    }
    .wrap__col--lg-1-12 {
      width: 8.333333333333334%;
    }
    .wrap__col--lg-5-12 {
      width: 41.66666666666667%;
    }
    .wrap__col--lg-7-12 {
      width: 58.333333333333336%;
    }
    .wrap__col--lg-11-12 {
      width: 91.66666666666667%;
    }
    .wrap__col--lg-hidden {
      display: none;
    }
    .wrap__col--lg-not-hidden {
      display: inline-block;
    }
    .wrap--lg-gutter-0 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--lg-gutter-0 > * {
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--lg-gutter-8 {
      width: calc(100% + 8px);
      margin-left: -4px;
      margin-right: -4px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--lg-gutter-8 > * {
      padding-left: 4px;
      padding-right: 4px;
    }
    .wrap--lg-outside-8 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 4px;
      padding-right: 4px;
    }
    .wrap--lg-gutter-16 {
      width: calc(100% + 16px);
      margin-left: -8px;
      margin-right: -8px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--lg-gutter-16 > * {
      padding-left: 8px;
      padding-right: 8px;
    }
    .wrap--lg-outside-16 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
    .wrap--lg-gutter-24 {
      width: calc(100% + 24px);
      margin-left: -12px;
      margin-right: -12px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--lg-gutter-24 > * {
      padding-left: 12px;
      padding-right: 12px;
    }
    .wrap--lg-outside-24 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 12px;
      padding-right: 12px;
    }
    .wrap--lg-gutter-40 {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--lg-gutter-40 > * {
      padding-left: 20px;
      padding-right: 20px;
    }
    .wrap--lg-outside-40 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    .wrap--lg-top {
      -webkit-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;
    }
    .wrap--lg-top > * {
      vertical-align: top;
    }
    .wrap--lg-middle {
      -webkit-align-content: center;
      -ms-align-content: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
    }
    .wrap--lg-middle > * {
      vertical-align: middle;
    }
    .wrap--lg-bottom {
      -webkit-align-content: flex-end;
      -ms-align-content: flex-end;
      align-content: flex-end;
      -webkit-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end;
    }
    .wrap--lg-bottom > * {
      vertical-align: bottom;
    }
    .wrap--lg-between {
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content: space-between;
      -ms-align-content: space-between;
      align-content: space-between;
    }
    .wrap--lg-around {
      -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-content: space-around;
      -ms-align-content: space-around;
      align-content: space-around;
    }
    .wrap--lg-baseline {
      -webkit-align-items: baseline;
      -ms-align-items: baseline;
      align-items: baseline;
    }
    .wrap--lg-center {
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      text-align: center;
    }
    .wrap--lg-left {
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      text-align: left;
    }
    .wrap--lg-right {
      -webkit-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      text-align: right;
    }
    .wrap__col--lg-first {
      -ms-flex-order: -1;
      -webkit-order: -1;
      order: -1;
    }
    .wrap__col--lg-last {
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
    .wrap__col--lg-not-first, .wrap__col--lg-not-last {
      -ms-flex-order: 0;
      -webkit-order: 0;
      order: 0;
    }
    .wrap--lg-reverse {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
    }
    .wrap--lg-not-reverse {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

/* md */

  @media (max-width: 768px) {
    .wrap--md-table {
      display: table;
      table-layout: fixed;
    }
    .wrap--md-table > * {
      display: table-cell;
    }
    .wrap--md-not-table {
      display: block;
      table-layout: auto;
    }
    .wrap--md-not-table > * {
      display: inline-block;
    }
    .wrap--md-auto > * {
      width: auto;
    }
    .wrap--md-1 > * {
      width: 100%;
    }
    .wrap--md-2 > * {
      width: 50%;
    }
    .wrap--md-3 > * {
      width: 33.333333333333336%;
    }
    .wrap--md-4 > * {
      width: 25%;
    }
    .wrap--md-5 > * {
      width: 20%;
    }
    .wrap--md-6 > * {
      width: 16.666666666666668%;
    }
    .wrap--md-7 > * {
      width: 14.285714285714286%;
    }
    .wrap--md-8 > * {
      width: 12.5%;
    }
    .wrap--md-9 > * {
      width: 11.11111111111111%;
    }
    .wrap--md-10 > * {
      width: 10%;
    }
    .wrap--md-11 > * {
      width: 9.090909090909092%;
    }
    .wrap--md-12 > * {
      width: 8.333333333333334%;
    }
    .wrap__col--md-1-1 {
      width: 100%;
    }
    .wrap__col--md-1-2,
    .wrap__col--md-2-4,
    .wrap__col--md-3-6,
    .wrap__col--md-4-8,
    .wrap__col--md-5-10,
    .wrap__col--md-6-12 {
      width: 50%;
    }
    .wrap__col--md-1-3,
    .wrap__col--md-2-6,
    .wrap__col--md-4-12 {
      width: 33.333333333333336%;
    }
    .wrap__col--md-2-3,
    .wrap__col--md-4-6,
    .wrap__col--md-8-12 {
      width: 66.66666666666667%;
    }
    .wrap__col--md-1-4,
    .wrap__col--md-2-8,
    .wrap__col--md-3-12 {
      width: 25%;
    }
    .wrap__col--md-3-4,
    .wrap__col--md-6-8,
    .wrap__col--md-9-12 {
      width: 75%;
    }
    .wrap__col--md-1-5,
    .wrap__col--md-2-10 {
      width: 20%;
    }
    .wrap__col--md-2-5,
    .wrap__col--md-4-10 {
      width: 40%;
    }
    .wrap__col--md-3-5,
    .wrap__col--md-6-10 {
      width: 60%;
    }
    .wrap__col--md-4-5,
    .wrap__col--md-8-10 {
      width: 80%;
    }
    .wrap__col--md-1-6,
    .wrap__col--md-2-12 {
      width: 16.666666666666668%;
    }
    .wrap__col--md-5-6,
    .wrap__col--md-10-12 {
      width: 83.33333333333334%;
    }
    .wrap__col--md-1-7 {
      width: 14.285714285714286%;
    }
    .wrap__col--md-2-7 {
      width: 28.571428571428573%;
    }
    .wrap__col--md-3-7 {
      width: 42.85714285714286%;
    }
    .wrap__col--md-4-7 {
      width: 57.142857142857146%;
    }
    .wrap__col--md-5-7 {
      width: 71.42857142857143%;
    }
    .wrap__col--md-6-7 {
      width: 85.71428571428572%;
    }
    .wrap__col--md-1-8 {
      width: 12.5%;
    }
    .wrap__col--md-3-8 {
      width: 37.5%;
    }
    .wrap__col--md-5-8 {
      width: 62.5%;
    }
    .wrap__col--md-7-8 {
      width: 87.5%;
    }
    .wrap__col--md-1-9 {
      width: 11.11111111111111%;
    }
    .wrap__col--md-2-9 {
      width: 22.22222222222222%;
    }
    .wrap__col--md-3-9 {
      width: 33.33333333333333%;
    }
    .wrap__col--md-4-9 {
      width: 44.44444444444444%;
    }
    .wrap__col--md-5-9 {
      width: 55.55555555555556%;
    }
    .wrap__col--md-6-9 {
      width: 66.66666666666666%;
    }
    .wrap__col--md-7-9 {
      width: 77.77777777777777%;
    }
    .wrap__col--md-8-9 {
      width: 88.88888888888889%;
    }
    .wrap__col--md-1-10 {
      width: 10%;
    }
    .wrap__col--md-3-10 {
      width: 30%;
    }
    .wrap__col--md-7-10 {
      width: 70%;
    }
    .wrap__col--md-9-10 {
      width: 90%;
    }
    .wrap__col--md-1-11 {
      width: 9.090909090909092%;
    }
    .wrap__col--md-2-11 {
      width: 18.181818181818183%;
    }
    .wrap__col--md-3-11 {
      width: 27.272727272727273%;
    }
    .wrap__col--md-4-11 {
      width: 36.36363636363637%;
    }
    .wrap__col--md-5-11 {
      width: 45.45454545454546%;
    }
    .wrap__col--md-6-11 {
      width: 54.54545454545455%;
    }
    .wrap__col--md-7-11 {
      width: 63.63636363636364%;
    }
    .wrap__col--md-8-11 {
      width: 72.72727272727273%;
    }
    .wrap__col--md-9-11 {
      width: 81.81818181818183%;
    }
    .wrap__col--md-10-11 {
      width: 90.90909090909092%;
    }
    .wrap__col--md-1-12 {
      width: 8.333333333333334%;
    }
    .wrap__col--md-5-12 {
      width: 41.66666666666667%;
    }
    .wrap__col--md-7-12 {
      width: 58.333333333333336%;
    }
    .wrap__col--md-11-12 {
      width: 91.66666666666667%;
    }
    .wrap__col--md-hidden {
      display: none;
    }
    .wrap__col--md-not-hidden {
      display: inline-block;
    }
    .wrap--md-gutter-0 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--md-gutter-0 > * {
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--md-gutter-8 {
      width: calc(100% + 8px);
      margin-left: -4px;
      margin-right: -4px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--md-gutter-8 > * {
      padding-left: 4px;
      padding-right: 4px;
    }
    .wrap--md-outside-8 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 4px;
      padding-right: 4px;
    }
    .wrap--md-gutter-16 {
      width: calc(100% + 16px);
      margin-left: -8px;
      margin-right: -8px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--md-gutter-16 > * {
      padding-left: 8px;
      padding-right: 8px;
    }
    .wrap--md-outside-16 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
    .wrap--md-gutter-24 {
      width: calc(100% + 24px);
      margin-left: -12px;
      margin-right: -12px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--md-gutter-24 > * {
      padding-left: 12px;
      padding-right: 12px;
    }
    .wrap--md-outside-24 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 12px;
      padding-right: 12px;
    }
    .wrap--md-gutter-40 {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--md-gutter-40 > * {
      padding-left: 20px;
      padding-right: 20px;
    }
    .wrap--md-outside-40 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    .wrap--md-top {
      -webkit-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;
    }
    .wrap--md-top > * {
      vertical-align: top;
    }
    .wrap--md-middle {
      -webkit-align-content: center;
      -ms-align-content: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
    }
    .wrap--md-middle > * {
      vertical-align: middle;
    }
    .wrap--md-bottom {
      -webkit-align-content: flex-end;
      -ms-align-content: flex-end;
      align-content: flex-end;
      -webkit-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end;
    }
    .wrap--md-bottom > * {
      vertical-align: bottom;
    }
    .wrap--md-between {
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content: space-between;
      -ms-align-content: space-between;
      align-content: space-between;
    }
    .wrap--md-around {
      -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-content: space-around;
      -ms-align-content: space-around;
      align-content: space-around;
    }
    .wrap--md-baseline {
      -webkit-align-items: baseline;
      -ms-align-items: baseline;
      align-items: baseline;
    }
    .wrap--md-center {
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      text-align: center;
    }
    .wrap--md-left {
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      text-align: left;
    }
    .wrap--md-right {
      -webkit-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      text-align: right;
    }
    .wrap__col--md-first {
      -ms-flex-order: -1;
      -webkit-order: -1;
      order: -1;
    }
    .wrap__col--md-last {
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
    .wrap__col--md-not-first, .wrap__col--md-not-last {
      -ms-flex-order: 0;
      -webkit-order: 0;
      order: 0;
    }
    .wrap--md-reverse {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
    }
    .wrap--md-not-reverse {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

/* sm */

  @media (max-width: 667px) {
    .wrap--sm-table {
      display: table;
      table-layout: fixed;
    }
    .wrap--sm-table > * {
      display: table-cell;
    }
    .wrap--sm-not-table {
      display: block;
      table-layout: auto;
    }
    .wrap--sm-not-table > * {
      display: inline-block;
    }
    .wrap--sm-auto > * {
      width: auto;
    }
    .wrap--sm-1 > * {
      width: 100%;
    }
    .wrap--sm-2 > * {
      width: 50%;
    }
    .wrap--sm-3 > * {
      width: 33.333333333333336%;
    }
    .wrap--sm-4 > * {
      width: 25%;
    }
    .wrap--sm-5 > * {
      width: 20%;
    }
    .wrap--sm-6 > * {
      width: 16.666666666666668%;
    }
    .wrap--sm-7 > * {
      width: 14.285714285714286%;
    }
    .wrap--sm-8 > * {
      width: 12.5%;
    }
    .wrap--sm-9 > * {
      width: 11.11111111111111%;
    }
    .wrap--sm-10 > * {
      width: 10%;
    }
    .wrap--sm-11 > * {
      width: 9.090909090909092%;
    }
    .wrap--sm-12 > * {
      width: 8.333333333333334%;
    }
    .wrap__col--sm-1-1 {
      width: 100%;
    }
    .wrap__col--sm-1-2,
    .wrap__col--sm-2-4,
    .wrap__col--sm-3-6,
    .wrap__col--sm-4-8,
    .wrap__col--sm-5-10,
    .wrap__col--sm-6-12 {
      width: 50%;
    }
    .wrap__col--sm-1-3,
    .wrap__col--sm-2-6,
    .wrap__col--sm-4-12 {
      width: 33.333333333333336%;
    }
    .wrap__col--sm-2-3,
    .wrap__col--sm-4-6,
    .wrap__col--sm-8-12 {
      width: 66.66666666666667%;
    }
    .wrap__col--sm-1-4,
    .wrap__col--sm-2-8,
    .wrap__col--sm-3-12 {
      width: 25%;
    }
    .wrap__col--sm-3-4,
    .wrap__col--sm-6-8,
    .wrap__col--sm-9-12 {
      width: 75%;
    }
    .wrap__col--sm-1-5,
    .wrap__col--sm-2-10 {
      width: 20%;
    }
    .wrap__col--sm-2-5,
    .wrap__col--sm-4-10 {
      width: 40%;
    }
    .wrap__col--sm-3-5,
    .wrap__col--sm-6-10 {
      width: 60%;
    }
    .wrap__col--sm-4-5,
    .wrap__col--sm-8-10 {
      width: 80%;
    }
    .wrap__col--sm-1-6,
    .wrap__col--sm-2-12 {
      width: 16.666666666666668%;
    }
    .wrap__col--sm-5-6,
    .wrap__col--sm-10-12 {
      width: 83.33333333333334%;
    }
    .wrap__col--sm-1-7 {
      width: 14.285714285714286%;
    }
    .wrap__col--sm-2-7 {
      width: 28.571428571428573%;
    }
    .wrap__col--sm-3-7 {
      width: 42.85714285714286%;
    }
    .wrap__col--sm-4-7 {
      width: 57.142857142857146%;
    }
    .wrap__col--sm-5-7 {
      width: 71.42857142857143%;
    }
    .wrap__col--sm-6-7 {
      width: 85.71428571428572%;
    }
    .wrap__col--sm-1-8 {
      width: 12.5%;
    }
    .wrap__col--sm-3-8 {
      width: 37.5%;
    }
    .wrap__col--sm-5-8 {
      width: 62.5%;
    }
    .wrap__col--sm-7-8 {
      width: 87.5%;
    }
    .wrap__col--sm-1-9 {
      width: 11.11111111111111%;
    }
    .wrap__col--sm-2-9 {
      width: 22.22222222222222%;
    }
    .wrap__col--sm-3-9 {
      width: 33.33333333333333%;
    }
    .wrap__col--sm-4-9 {
      width: 44.44444444444444%;
    }
    .wrap__col--sm-5-9 {
      width: 55.55555555555556%;
    }
    .wrap__col--sm-6-9 {
      width: 66.66666666666666%;
    }
    .wrap__col--sm-7-9 {
      width: 77.77777777777777%;
    }
    .wrap__col--sm-8-9 {
      width: 88.88888888888889%;
    }
    .wrap__col--sm-1-10 {
      width: 10%;
    }
    .wrap__col--sm-3-10 {
      width: 30%;
    }
    .wrap__col--sm-7-10 {
      width: 70%;
    }
    .wrap__col--sm-9-10 {
      width: 90%;
    }
    .wrap__col--sm-1-11 {
      width: 9.090909090909092%;
    }
    .wrap__col--sm-2-11 {
      width: 18.181818181818183%;
    }
    .wrap__col--sm-3-11 {
      width: 27.272727272727273%;
    }
    .wrap__col--sm-4-11 {
      width: 36.36363636363637%;
    }
    .wrap__col--sm-5-11 {
      width: 45.45454545454546%;
    }
    .wrap__col--sm-6-11 {
      width: 54.54545454545455%;
    }
    .wrap__col--sm-7-11 {
      width: 63.63636363636364%;
    }
    .wrap__col--sm-8-11 {
      width: 72.72727272727273%;
    }
    .wrap__col--sm-9-11 {
      width: 81.81818181818183%;
    }
    .wrap__col--sm-10-11 {
      width: 90.90909090909092%;
    }
    .wrap__col--sm-1-12 {
      width: 8.333333333333334%;
    }
    .wrap__col--sm-5-12 {
      width: 41.66666666666667%;
    }
    .wrap__col--sm-7-12 {
      width: 58.333333333333336%;
    }
    .wrap__col--sm-11-12 {
      width: 91.66666666666667%;
    }
    .wrap__col--sm-hidden {
      display: none;
    }
    .wrap__col--sm-not-hidden {
      display: inline-block;
    }
    .wrap--sm-gutter-0 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--sm-gutter-0 > * {
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--sm-gutter-8 {
      width: calc(100% + 8px);
      margin-left: -4px;
      margin-right: -4px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--sm-gutter-8 > * {
      padding-left: 4px;
      padding-right: 4px;
    }
    .wrap--sm-outside-8 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 4px;
      padding-right: 4px;
    }
    .wrap--sm-gutter-16 {
      width: calc(100% + 16px);
      margin-left: -8px;
      margin-right: -8px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--sm-gutter-16 > * {
      padding-left: 8px;
      padding-right: 8px;
    }
    .wrap--sm-outside-16 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 8px;
      padding-right: 8px;
    }
    .wrap--sm-gutter-24 {
      width: calc(100% + 24px);
      margin-left: -12px;
      margin-right: -12px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--sm-gutter-24 > * {
      padding-left: 12px;
      padding-right: 12px;
    }
    .wrap--sm-outside-24 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 12px;
      padding-right: 12px;
    }
    .wrap--sm-gutter-40 {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap--sm-gutter-40 > * {
      padding-left: 20px;
      padding-right: 20px;
    }
    .wrap--sm-outside-40 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    .wrap--sm-top {
      -webkit-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;
    }
    .wrap--sm-top > * {
      vertical-align: top;
    }
    .wrap--sm-middle {
      -webkit-align-content: center;
      -ms-align-content: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
    }
    .wrap--sm-middle > * {
      vertical-align: middle;
    }
    .wrap--sm-bottom {
      -webkit-align-content: flex-end;
      -ms-align-content: flex-end;
      align-content: flex-end;
      -webkit-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end;
    }
    .wrap--sm-bottom > * {
      vertical-align: bottom;
    }
    .wrap--sm-between {
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-content: space-between;
      -ms-align-content: space-between;
      align-content: space-between;
    }
    .wrap--sm-around {
      -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-content: space-around;
      -ms-align-content: space-around;
      align-content: space-around;
    }
    .wrap--sm-baseline {
      -webkit-align-items: baseline;
      -ms-align-items: baseline;
      align-items: baseline;
    }
    .wrap--sm-center {
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      text-align: center;
    }
    .wrap--sm-left {
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      text-align: left;
    }
    .wrap--sm-right {
      -webkit-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      text-align: right;
    }
    .wrap__col--sm-first {
      -ms-flex-order: -1;
      -webkit-order: -1;
      order: -1;
    }
    .wrap__col--sm-last {
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
    .wrap__col--sm-not-first, .wrap__col--sm-not-last {
      -ms-flex-order: 0;
      -webkit-order: 0;
      order: 0;
    }
    .wrap--sm-reverse {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
    }
    .wrap--sm-not-reverse {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
